$grey-dark: rgb(117, 117, 117);
$grey-light: rgb(211, 211, 211);
$blue: rgb(19, 99, 209);

header {
    display: flex;
    align-items: center;
    height: 5.6rem;
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#menu-icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 2.5rem;
    margin-right: 1rem;
    fill: rgb(96, 96, 96);
}

#youtube-icon {
    width: 10rem;
}

.middle {
    width: 63.5rem;
    height: 3.2rem;
    margin: 0 auto;
    display: flex;
}

.searchbar {
    display: flex;
    margin-left: 2rem;
    
    &__input {
        width: 55rem;
        font-size: 1.6rem;
        color: $grey-dark;
        padding: 1rem;
        margin: 0 0;
        border: 0.5px $grey-light  solid;
        border-radius: 3px 0 0 3px;
        outline: none;

        &:focus {
            border:  0.5px rgb(43, 106, 186) solid;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }
    }

    &__btn {
        width: 6.5rem;
        margin: 0 0;
        padding: 0;

        border: 0.5px $grey-light  solid;
        border-left: none;
        border-radius: 0 3px 3px 0;
        background-color: rgb(248, 248, 248);

        svg {
            width: 2rem;
            height: 2rem;
            fill: rgb(130, 130, 130);
        }
    }
}

.headerRight-btns {
    justify-self: flex-end;
    display: flex;

    button {
        background: transparent;
        border: none;

        svg {
            width: 2.4rem;
            fill: rgb(96, 96, 96);
            margin: 0 0.5rem;
        }
    }
}

#signIn {
    width: 10.5rem;
    height: 4rem;
    border: 1px $blue solid;
    margin-left: 1rem;
    margin-right: 1.5rem;
    padding: 0;
    display: flex;
    align-items: center;
    border-radius: 2px;

    svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: $blue;
        padding: 0 0.5rem;
    }

    div {
        text-transform: uppercase;
        font-size: 1.4rem;
        color: $blue;
        font-weight: 500;
    }
}
